{% extends 'base.html.twig' %}
{% set responseClass = {'response': ' w-75 border-primary', 'reply':' ps-5 border-info', 'note': ' ps-5 border-dark'} %}

{% block title %}Ticket: {{ ticket.id }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1>Ticket: {{ ticket.id }}</h1>
            <h2>{{ ticket.subject }}</h2>
        </div>

    <table class="table">
        <tr>
            <th>Subject</th>
            <td>{{ ticket.subject }}</td>
            <th>Date Submitted</th>
            <td>{{ ticket.dateSubmitted|date }}</td>
        </tr>
        <tr>
            <th>Submitted By</th>   
            <td>{{ ticket.submitter.fullname }} ({{ ticket.submitter.emailAddress }})</td>
            <th>Assigned To</th>
            <td>{{ ticket.assignedTo ? ticket.assignedTo : 'None' }}</td>
        </tr>
        <tr>
            <th>Priority</th>
            <td>{{ ticket.priority }}</td>
            <th>Status</th>
            <td>{{ ticket.status }}</td>
        </tr>
    </table>
    </div>
</div>
<hr>
{% for response in ticket.ticketResponses %}
    <div class="row">
        <div class="col">
            <div class="card mb-3{{ responseClass[response.type] }}">
                <div class="card-header">
                    <h5>{{ response.subject }}</h5>
                    {{ response.submitter.fullname }} @ {{ response.dateSubmitted|date }}
                </div>
                <div class="card-body">
                    <span class="card-text">{{ response.body|raw }}</span>
                </div>
            </div><!-- end .card -->
        </div><!-- end .col -->
    </div>
{% endfor %}
<hr>
<div class="row bg-light">
    <div class="col">
        <h4>Reply to ticket</h4>
    </div>
</div>
<div class="row bg-light">
    <div class="col">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
